<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>MY HASH IS NICE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Make your Bitcoin transactions nicer and earn MHIN" />
    <link rel="icon" href="favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ css_url }}">
</head>
<body>
    <div id="top" role="document">
    <div class="page">

    <header class="page__header">
        <div class="container section">
            <h1>MY HASH IS NICE</h1>
            <p><b>Make your Bitcoin transactions nicer and earn MHIN.</b></p>
            <p>If your transaction txid starts with 6 or more zeros you earn MHIN. The more zeros the more you earn!</p>
            <p>Don't be cheesy, mine transactions not blocks!</p>
        </div>
    </header>

    <main class="page__content">
        <section id="text" class="container">
            <h2 class="subtitle1">Nice links</h2>
            <ul>
                <li>Read the <a href="protocol">MIHN Protocol</a> to learn more about My Hash Is Nice project.</li>
                <li>Download the Nicesigner written in Rust to start mining your transactions.</li>
                <li>Chat with the community of people with nice hashes on our discord channel.</li>
                <li>Check your Bitcoin address's <a href="balances">MHIN balance</a>.</li>
            </ul>
        </section>
        <section id="text" class="container">
            <h2 class="subtitle2">Last nice hashes</h2>
            <div class="table-wrapper">
                <table>
                    <tr>
                    <th>Block</th>
                    <th>Destination</th>
                    <th>Reward</th>
                    </tr>
                    {% for movement in movements %}
                    <tr>
                        <td>{{ movement["height"] }}</td>
                        <td>{{ display_utxo(movement["destination"], True) | safe }}</td>
                        <td style="text-align: right;">{{ display_quantity(movement["quantity"]) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
        <section id="text" class="container">
            <h2 class="subtitle2">Last nice movements</h2>
            <div class="table-wrapper">
                <table>
                    <tr>
                    <th>Block</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Quantity</th>
                    </tr>
                    {% for movement in movements %}
                    <tr>
                        <td>{{ movement["height"] }}</td>
                        <td>{{ display_utxo(movement["source"]) | safe }}</td>
                        <td>{{ display_utxo(movement["destination"]) | safe }}</td>
                        <td style="text-align: right;">{{ display_quantity(movement["quantity"]) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </main>

    </div>  <!-- page -->
    </div>  <!-- top -->
</body>
</html>